@import "base/variables";

//foundation
@import "base/foundation-settings";
@import "foundation";
@include foundation-everything;

//components

body {
    background-color: #3D215F; //#43246A;
    color: #F0F8FF;
}

button[class^="button"] {
    border-radius: 0.3125rem;
    font-size: 1.0rem;
    margin: 0 0.25rem;
}

a.accordion-title {
    background-color: #F0F8FF;
    font-size: 1.375rem;
}

#addRecipe {
    border-radius: 0.5rem;
    background-color: #F0F8FF;
}

#app-heading {
    /*color: #F0F8FF; //aliceblue;*/
    margin-top: 1.0rem;
    text-align: center;
}

#gitlink {
    text-align: center;
}

#gitlink>a {
    color: #FF8B4D;
    text-decoration: none;
}

#gitlink>a:hover {
    text-decoration: underline;
}

#hr-1 {
    border: 0.125rem solid #EEEEEE;
    margin-top: 3.0rem;
}

#modal-mode-span {
    color: #424242;
}

#recipe-exists-span {
    color: red;
    visibility: hidden;
}

.accordion-content>p {
    font-size: 1.0rem;
}

.accordion-item {
    border: 0.25rem;
}

@media only screen and (max-width: 480px) {
    a.accordion-title {
        font-size: 1.0rem;
    }
    button[class^="button"] {
        font-size: 0.8125rem;
    }
    .accordion-content>p {
        font-size: 0.8125rem;
    }
    #gitlink {
        font-size: 0.8125rem;
    }
}
