@import "base/variables";

//foundation
@import "base/foundation-settings";
@import "foundation";
@include foundation-everything;

//components

#app-heading {
    margin-top: 1rem;
    text-align: center;    
}

#recipe-exists-span {
    color: red;
    visibility: hidden;
}

.accordion-title {
    font-size: 1.125rem;
}

button[class^="button"]{
    border-radius: 5px;
    font-size: 1rem;
    margin: 0 0.125rem;
}